# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.env
.venv/
env/
venv/

# Logs
*.log
logs/
*.out
*.err

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Configs
config.json
config.yaml
secret.json

config.env

*.env
!config_sample.env
