*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

.netrc

log.txt
rlog.txt

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
Desktop.ini

data*
accounts/
Thumbnails/
MediaInfo/
Images/
rclone/
downloads/
cookies.txt
bot.session
user.session
terabox.txt
rclone.conf
list_drives.txt

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*.tmp
*.temp
